.form-validation {
  position: relative;
}

.form-validation span {
  opacity: 0;
  transition: opacity var(--time);
  position: absolute;
}

.form-validation .correct {
  color: green;
}

.form-validation .wrong {
  color: red;
}

main {
  margin: 1em;
}

h1 {
  color: purple;
  font-size: clamp(2.5em, 7vw, 4em);
  line-height: 1.25em;
}

form {
  width: 100%;
}

label {
  font-size: 0.9em;
  margin-left: 0.5em;
}

input[type="text"],
form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin: 0.1em 0;
  padding-left: 1em;
  border-radius: 2em;
  border: 1px solid rgb(200, 200, 200);
}

.form-section .name-section {
  margin: 0.5em 0;
}

#form-name {
  margin: 1.5em 0;
}

input[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 0.25em;
  margin: 0.75em 0;
  box-shadow: 0 0 0.1em black;
}

#form-tips {
  margin: 1em 0;
  font-size: 0.75em;
}

.form-validation {
  font-size: 0.75em;
  margin-left: 0.5em;
}

@media screen and (min-width: 768px) {
  form {
    width: 80%;
  }
  #form-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .name-section {
    width: 45%;
  }
}
